.main ::selection {
    background-color:var(--gold);
    color: var(--white);
}

a:hover {
    text-decoration: underline;
}

:is(h1,h2,h3,h4,p,a,span)::selection{
    color: white;
    background-color: rgba(0, 0, 0, 0.438);
}

.album:hover {
    background-color: #dfdede;
    translate: 0 -10px;
}

.track-item:hover {
    translate: -5px;
}