@import 'variables.css';
@import 'normalize.css';

header {
    background-color: var(--black);
    color: var(--white);

    height: 4.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 1rem;
}

header a {
    color: var(--white);
    margin-left: 1rem;
}

section {
    padding: 1rem;
}

.artist-name, .logo-name {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5em;
}

aside {
    height: 100%;
    background-color: var(--black);

    display: flex;
    flex-direction: column;

    padding: 0 1em;
}

aside :is(h1, h2, h3, h4, p, span, a) {
    color: var(--white);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.track-item, .artist-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(29, 29, 29);
    border-radius: 5px;
    padding: 0.5em;
    cursor: pointer;
    
    border: 1px solid var(--grey);
    
    box-shadow: 2px 1px 0 var(--grey);
    margin-bottom: 0.6em;

    transition: 0.2s ease-in-out;
}

.track-item div, .artist-item div {
    display: flex;
    width: 80%;
    gap: 1rem;
    align-items: center;
}

.track-item img, .artist-item img {
    width: 2.3vw;
    border-radius: 4px;
}

.artist-item img {
    border-radius: 50%;
}

.artist-item {
    border: none;
    box-shadow: none;
}

.track-list li:nth-child(even) a, .artist-list li:nth-child(even) a {
    background-color: transparent;
}

footer {
    background-color: var(--black);
    color: var(--white);

    height: 4.5rem;

    display: flex;
    align-items: center;
    
    padding: 0 2rem;
}

